<table style="border: 16px outset gray;">
    <tr border="1">
        <td width="25%"><img src="assets/images/cat.jpg"></td>
        <td width="25%" style="text-align:center;"><h1>I'm part of the <a href="{{ meta.url }}">{{ meta.title }}</a>!</h1></td>
        <td width="25%"><img src="assets/images/cat.jpg"></td>
    </tr>
    <tr border="1">
        <td width="33.33%" style="text-align:center;">[<a href="{{ meta.url }}/prev">Previous</a>]</td>
        <td width="33.33%" style="text-align:center;">[<a href="{{ meta.url }}/random">Random</a>]</td>
        <td width="33.33%" style="text-align:center;">[<a href="{{ meta.url }}/next">Next</a>]</td>
    </tr>
</table>
<script async src="{{ meta.url }}/embed.js" charset="utf-8"></script>