---
layout: base
---
<div class="markdown">
    <h2>owo what's this?</h2>
    <p>
        Welcome to the Salty Cats Webring! If you're here you know what's up. If you don't, uh, hi?
    </p>

    <h2>How to join</h2>
    <p>
        Send in your shit with this form. 
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <p>
        Once you've joined the ring, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}
</div>